body {
    margin: 0;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

input {
    border: 1px solid #5f9341;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    color: white;
    background-color: #5f9341;
    border: none;
    border-radius: 2.5px;
    margin: 10px;
    padding: 10px 20px; /* top/bottom left/right */
    font-weight: bold;
}