h1, h2 {
    color: goldenrod;
    text-align: center;
}

body {
    background-color: green;
    color: white;
    font-weight: bold;
    text-align: center;
    background-image: url("table.png");
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#user-input {
    margin: auto;
    width: fit-content;
    border: 2.5px solid goldenrod;
    border-radius: 3.5px;
    padding: 15px;
}

#player-name, #player-chips {
    margin: 5px;
    border: black;
    border-radius: 3.5px;
    font-weight: bold;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    font-weight: bold;
    width: 150px;
    background: goldenrod;
    border: none;
    border-radius: 2.5px;
    padding: 5px;
    margin: 2.5px;
}

#reset-btn {
    background: rgb(143, 46, 46);
    color: white;
}