head, body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 75px;
    font-weight: normal;
    margin: 0;
    text-align: center;
}

input, button {
    border-radius: 6px;
    text-align: center;
    margin: 5px;
}

input {
    /* color: rgb(78, 70, 70); */
    border-color: rgb(255, 87, 21);
    font-size: 30px;
}

input:focus {
    outline: none;
}

button {
    border-style: none;
    background-color: rgb(255, 87, 21);
    color: white;
    font-size: 25px;
}

button:hover {
    background-color: rgb(255, 128, 78);
    color: white;
    font-size: 25px;
    cursor: pointer;
}

#img-id {
    border: none;
    margin: 5px;
    border-radius: 6px;
    border-color: rgb(255, 87, 21);
}

#input-container {
    padding: 25px;
    display: flex;
    flex-direction: column;
    border-color: black;
    border-radius: 8px;
    border-width: 1px;
    width: 420px;
    margin: 20px auto;
}

#news-container {
    display: flex;
    flex-direction: column;
    width: 850px;
    margin: 20px auto;
}

#news-img, #news-info {
    height: 250px;
}

#news-img {
    border-radius: 10px 0 0 10px;
    width: 250px;
}

#news-info {
    padding: 10px;
}

#news-block {
    margin: 5px;
    width: 850px;
    background-color: rgb(215, 208, 221);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}